* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* this body style */

body {
    background-color: transparent;
}

header {
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.header-content {
    max-width: 90%;
    padding: 175px 307px;

}

.content {
    display: none;
}

main {
    max-width: 90%;
    margin: 50px auto;

}





/* donate section style */
.section-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #121212;
    margin-top: 130px;
}

.description {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;
    width: 70%;
    margin: 20px auto;
}

.donate-amount {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin: 50px auto 60px;
}

.money {
    background: #FAFAFA;
    border-radius: 5px;

}

.money h4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;
    padding: 43px 24px;
}

.money:hover {
    background-color: #FF5959;
}

.money.active {
    
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.btn-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-primary {

    padding: 16px 12px;
    background: #FF5959;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    flex-grow: 0;
}

/* plan section style */
.plan-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    max-width: 90%;
    margin: 4rem auto;
    justify-content: center;
    grid-gap: 5%;

    /* display: gird;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 90%;
    margin: 5px auto;
    gap: 3%; */
}

.plan {

    border-radius: 5px;
    padding: 50px 23px;
}

.A {
    background: rgba(79, 157, 166, 0.1);
}

.B {
    background: rgba(255, 89, 89, 0.1);
}

.C {
    background: rgba(255, 89, 89, 0.077);
}

.plan-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
}

.plan-description {
    font-size: 16px;
    line-height: 24px;
    color: #707070;
    margin-top: 20px;
}

/* how to contributes style */
.contribute-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    margin: 8rem auto;
    align-items: center;
    grid-gap: 5%;

}

/* .contribute-criteria{
    width: 45%;
} */
.contribute-img img {
    max-width: 100%;

}

.btn {
    margin-top: 20px;
    padding: 10px 10px !important;
}

.contribute-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
}

/* get updates styles */
.subscribe {
    max-width: 70%;
    margin: 130px auto;

}

.subscribe-section {
    padding: 76px 189px;
    background: #FFF4D6;
    display: inline;
}

.btn-subscribe {
    background-color: #FF5959;
    margin-left: -4px;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px
}

.subscribe-input {
    border: none;
    background: #D9D9D9;
    border-radius: 5px 0 0 5px;
    padding: 10px 20px;
}

footer {
    text-align: center;
    background-color: #0B0D17;
    padding: 43px 65px;
}

footer h4 {
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 36px;
    /* line-height: 44px; */
    letter-spacing: 0.5px;
    color: #FF5959;


}

footer p {
    font-family: 'Manrope';
    color: #D9DBE1;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/*********************************** mobile responsive ************************************* */
@media screen and (max-width: 768px) {
    header {
        background-image: none;
        background-color: #4c0082e1;
        background-size: cover;
        background-size: 100vw;
        /* padding: 43px 65px; */
    }

    .header-content {
        max-width: 100%;
        padding: 10px 10px 20px;
    }

    .content {
        display: block;
    }

    .description {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: rgb(11, 11, 11);
        width: 90%;
        margin: 20px auto;
    }

    .section-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        color: #121212;
        margin-top: 40px;
    }

    .btn-primary {

        padding: 8px 12px;
        background: #FF5959;
        border-radius: 5px;
        border: none;
        font-weight: 400;
        font-size: 15px;
        color: #FFFFFF;
        flex-grow: 0;
    }

    .donate-amount {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin: 25px auto 30px;
    }

    main {
        max-width: 100%;
        margin: 10px auto;

    }

    .money {
        background: #FAFAFA;
        border-radius: 5px;

    }

    .money h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #707070;
        padding: 20px 15px;
    }

    /* plan section style */
    .plan-section {
        display: block;
        max-width: 90%;
        margin: 5px auto;
        gap: 3%;
    }

    .plan {
        margin-top: 15px;
        border-radius: 5px;
        padding: 20px 10px;
    }

    .A {
        background: rgba(79, 157, 166, 0.1);
    }

    .B {
        background: rgba(255, 89, 89, 0.1);
    }

    .C {
        background: rgba(255, 89, 89, 0.077);
    }

    .plan-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #121212;
        text-align: center;
    }

    .plan-image {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .plan-description {
        font-size: 16px;
        line-height: 24px;
        color: #707070;
        margin-top: 20px;
        text-align: center;
    }

    /* how to contributes style */
    .contribute-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 90%;
        text-align: center;
        margin: 4rem auto;
        grid-gap: 5%;

    }

    /* .contribute-criteria{
    width: 45%;
} */
    .contribute-img img {
        width: 100%;

    }

    .btn {
        margin-top: 20px;
    }

    .contribute-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        color: #121212;
    }

    /* get updates styles */
    .subscribe {
        max-width: 6 0%;
        margin: 2rem auto;

    }

    .subscribe-section {

        background: #FFF4D6;
        display: flex;
        max-width: 80%;
        align-items: center;
        justify-content: center;
        padding: auto 10px;

    }

    .btn-subscribe {
        background-color: #FF5959;
        margin-left: -4px;
        border: none;
        padding: 10px 10px;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px
    }

    .subscribe-input {
        border: none;
        background: #D9D9D9;
        border-radius: 5px 0 0 5px;
        width: 150px;
    }

    footer {
        text-align: center;
        background-color: #0B0D17;
        /* padding: 43px 65px; */
    }

    footer h4 {
        font-family: 'Lobster';
        font-weight: 400;
        font-size: 25px;
        line-height: 44px;
        letter-spacing: 0.5px;
        color: #FF5959;


    }

    footer p {
        font-family: 'Manrope';
        color: #D9DBE1;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
}


/* ***************************Tablet view******************************** */
@media (min-width:769px) and (max-width:1024px) {
    header {
        background-image: url('images/banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100vw;

    }

    .header-content {
        max-width: 90%;
        padding: 175px 307px;

    }

    .content {
        display: none;
    }

    main {
        max-width: 90%;
        margin: 20px auto;

    }





    /* donate section style */
    .section-title {
        font-weight: 500;
        font-size: 35px;
        line-height: 40px;
        text-align: center;
        color: #121212;
        margin-top: 40px;
    }

    .description {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #707070;
        width: 70%;
        margin: 20px auto;
    }

    .donate-amount {
        display: flex;
        justify-content: center;
        gap: 22px;
        margin: 50px auto 60px;
    }

    .money {
        background: #FAFAFA;
        border-radius: 5px;

    }

    .money h4 {
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #707070;
        padding: 43px 24px;
    }

    .btn-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .btn-primary {

        padding: 16px 12px;
        background: #FF5959;
        border-radius: 5px;
        border: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        flex-grow: 0;
    }

    /* plan section style */
    .plan-section {
        display: gird;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        max-width: 90%;
        margin: 5px auto;
        gap: 3%;
    }

    .plan {

        border-radius: 5px;
        padding: px 23px;
    }

    .A {
        background: rgba(79, 157, 166, 0.1);
    }

    .B {
        background: rgba(255, 89, 89, 0.1);
    }

    .C {
        background: rgba(255, 89, 89, 0.077);
    }

    .plan-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #121212;
    }

    .plan-description {
        font-size: 16px;
        line-height: 24px;
        color: #707070;
        margin-top: 20px;
    }

    /* how to contributes style */
    .contribute-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 90%;
        margin: 8rem auto;
        align-items: center;
        grid-gap: 5%;

    }

    /* .contribute-criteria{
        width: 45%;
    } */
    .contribute-img img {
        width: 30rem;

    }

    .btn {
        margin-top: 20px;
    }

    .contribute-title {
        font-weight: 700;
        font-size: 45px;
        line-height: 54px;
        color: #121212;
    }

    /* get updates styles */
    .subscribe {
        max-width: 70%;
        margin: 7rem auto;

    }

    .subscribe-section {
        padding: 76px 189px;
        background: #FFF4D6;
        display: inline;
    }

    .btn-subscribe {
        background-color: #FF5959;
        margin-left: -4px;
        border: none;
        padding: 10px 20px;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px
    }

    .subscribe-input {
        border: none;
        background: #D9D9D9;
        border-radius: 5px 0 0 5px;
        padding: 10px 20px;


    }

    footer {
        text-align: center;
        background-color: #0B0D17;
        padding: 43px 65px;
    }

    footer h4 {
        font-family: 'Lobster';
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.5px;
        color: #FF5959;


    }

    footer p {
        font-family: 'Manrope';
        color: #D9DBE1;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

}
